DJANGO_SECRET_KEY=your-secret-key-generate-with-secrets-token-urlsafe-50
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

DB_NAME=campus_wall
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=127.0.0.1
DB_PORT=5432
